html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fruits__container {
  width: 600px;
  height: 200px;
  margin: 50px auto;
  position: relative;
}

.single__slick img {
  width: 90%;
  height: 200px;
  object-fit: cover;
}

.slick-prev {
  position: absolute !important;
  top: -20px !important;
  left: 80% !important;
}
.slick-next {
  position: absolute !important;
  top: -20px !important;
  left: 90% !important;
}
